// Left panel

.left-text {
    position: relative;
    display: block;
    overflow: hidden;

    h1 {
        font-size: 8rem;
        line-height: 110%;
        position: fixed;
        top: 35%;
        font-family: $body-font-family-heading;
    }

    @media screen and (max-width: 320px) {
        h1 {
            font-size: 7rem;
        }
      }
}